name: Build plugin jar

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle
      - run: ./gradlew build
      - uses: actions/upload-artifact@v4
        with:
          name: Uncondense-jar
          path: build/libs/*.jar
